In [1]:
import re
import pandas as pd

In [2]:
data = open("data/WhatsApp Chat with 9 to 10 class 12 physics.txt", "r", encoding="utf-8")

In [3]:
data = data.read()

In [4]:
pattern = "\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[AaPp][Mm]\s-\s"
pattern1 = "\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[AaPp][Mm]"

In [5]:
messages = re.split(pattern, data)[1:]

In [ ]:
dates = re.findall(pattern1, data)

In [7]:
data = pd.DataFrame({"user_message": messages, "date": dates})
data["date"] = pd.to_datetime(data["date"], format="%d/%m/%Y, %I:%M %p")
data = data[["date", "user_message"]]
data.head()

                 date                                       user_message
0 2021-07-31 09:59:00  Messages and calls are end-to-end encrypted. N...
1 2020-10-27 16:45:00    Kaif created group "9 to 10 class 12 physics"\n
2 2021-07-31 09:58:00                                   Kaif added you\n
3 2021-08-06 12:07:00     Tauhid Alam Physics Teacher: <Media omitted>\n
4 2021-08-07 16:38:00     Tauhid Alam Physics Teacher: <Media omitted>\n

In [8]:
users = []
messages = []
for message in data['user_message']:
    entry = re.split('([\w\W]+?):\s', message)
    if entry[1:]:  # user name
        users.append(entry[1])
        messages.append(" ".join(entry[2:]))
    else:
        users.append('group_notification')
        messages.append(entry[0])

data['user'] = users
data['message'] = messages
data.drop(columns=['user_message'], inplace=True)
data.head()

,date,user,message
0,2021-07-31 09:59:00,group_notification,Messages and calls are end-to-end encrypted. N...
1,2020-10-27 16:45:00,group_notification,"Kaif created group ""9 to 10 class 12 physics""\n"
2,2021-07-31 09:58:00,group_notification,Kaif added you\n
3,2021-08-06 12:07:00,Tauhid Alam Physics Teacher,<Media omitted>\n
4,2021-08-07 16:38:00,Tauhid Alam Physics Teacher,<Media omitted>\n

In [9]:
data['only_date'] = data['date'].dt.date
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month_name()
data['day'] = data['date'].dt.day
data['day_name'] = data['date'].dt.day_name()
data['hour'] = data['date'].dt.hour
data = data.drop(columns="date")
data = data[["only_date", "year", "month", "day", "day_name", "hour", "user", "message"]]
data = data.rename(columns = {'only_date':'date'})
data.head()

,date,year,month,day,day_name,hour,user,message
0,2021-07-31,2021,July,31,Saturday,9,group_notification,Messages and calls are end-to-end encrypted. N...
1,2020-10-27,2020,October,27,Tuesday,16,group_notification,"Kaif created group ""9 to 10 class 12 physics""\n"
2,2021-07-31,2021,July,31,Saturday,9,group_notification,Kaif added you\n
3,2021-08-06,2021,August,6,Friday,12,Tauhid Alam Physics Teacher,<Media omitted>\n
4,2021-08-07,2021,August,7,Saturday,16,Tauhid Alam Physics Teacher,<Media omitted>\n

In [10]:
num_media_messages = data[data['message'] == '<Media omitted>\n'].shape[0]
num_media_messages

40

In [11]:
from urlextract import URLExtract
extract = URLExtract()
link = []
for message in data["message"]:
    link.extend(extract.find_urls(message))
len(link)

1

In [12]:
words = []
for message in data["message"]:
    words.extend(message.split())
len(words)

506